<div [hidden]="!hideform"  class="container-fluid">

  <div class="w-100 h-100 row" style="position: absolute">
    <div class=" d-flex flex-column border-right h-100" style="width: 100%;">
      <img class="w-100" src="assets/logo.png">

      <pre>
        Room Name: {{roomname}}
        creator:   {{roomcreator}}
      </pre>
      <ul  class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home">Participants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu2">Matches</a>
        </li>
      </ul>
      <div  class="h-100  " style="overflow-y: scroll">
              <div class="tab-content h-100 col-12">
                    <div id="home" class="container tab-pane active m-0 p-0" >
                        <div class="col-12 m-0 p-0 " >
                          <span  class="mt-2">
                              <div class="col-md-6 mb-4">
                                <form class="form-inline md-form mr-auto mt-2">
                                  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                                </form>
                              </div>
                            </span>
                          <ol class="col-12"  >


                            <li *ngFor="let u of roomparticipants;" class="mb-4">
                              <span>{{u}}</span>
                              <i [hidden]="u != roomcreator" class="fa fa fa-certificate  text-success mx-3" style="font-size:10px"></i>
                              <i (click)="matchplayer(u)"  class="fa fa fa-arrow-circle-o-right float-right text-primary" style="font-size:32px"></i>
                            </li>


                          </ol>
                        </div>
                    </div>
                    <div id="menu2" class="container tab-pane fade m-0 p-0">
                      <div class="col-12 m-0 p-0 row mt-3">
                        <div class="col-6 d-flex flex-column card p-2" >
                          <span >
<!--                            <i [hidden]="p1ready"  class="fa fa fa-certificate  text-danger mr-2" style="font-size:7px"></i>-->
                            <i [hidden]="p1notready"  class="fa fa fa-certificate  text-success mr-2" style="font-size:7px"></i>
                            {{matchplayer1}}
                            <button (click)="unmatchplayer1()" class="btn mybtn ml-2 bg-danger float-right" style="height: 50px;width: 50px;">
                              <i class="fa fa-times" style="font-size:24px"></i>
                            </button>
                          </span>

                        </div>
                        <div class="col-6 card  d-flex flex-column p-2" style="min-height: 70px">
                          <span >
<!--                            <i [hidden]="p1ready" class="fa fa fa-certificate  text-danger mr-2" style="font-size:5px"></i>-->
                            <i [hidden]="p2notready"  class="fa fa fa-certificate  text-success mr-2" style="font-size:7px"></i>
                            {{matchplayer2}}
                            <button (click)="unmatchplayer2()" class="btn mybtn ml-2 bg-danger  float-right" style="height: 50px;width: 50px;">
                              <i class="fa fa-times" style="font-size:24px"></i>
                            </button>
                          </span>

                        </div>
                        <div class="col-12 card p-2" >
                          <button (click)="spectate()" class="btn mybtn"><i class="fa fa-tv" style="font-size:24px"></i> Spectate</button>
                          <button (click)="gameon()" class="btn mybtn mt-2"><i class="fa fa-gamepad" style="font-size:24px"></i> Game on</button>
                        </div>

                      </div>
                    </div>
              </div>
      </div>
    </div>
  </div>
</div>




<div [hidden]="hideform"  class="container-fluid">

  <div class="w-100 h-100 row" style="position: absolute">
    <div class=" d-flex flex-column border-right h-100" style="width: 100%;">
      <img class="w-100" src="assets/logo.png">

      <div  class=" container-fluid" style="height: 256px">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10 mt-4">
            <div class="form-group">
              <label for="roomname" class="text-secondary">Room name:</label>
              <input [(ngModel)]="roomname" type="text" class="form-control" id="roomname">
            </div>
            <div class="form-group">
              <label for="username" class="text-secondary">Username:</label>
              <input [(ngModel)]="username" type="text" class="form-control" id="username">
            </div>
            <div class="form-group">
              <label for="passcode" class="text-secondary">PassCode:</label>
              <input [(ngModel)]="passcode" type="text" class="form-control" id="passcode">
            </div>
            <div class="checkbox">
              <button (click)="joinRoom()" type="submit" class="btn btn-primary col-5 float-right">Join Room</button>
              <button (click)="createRoom()" type="submit" class="btn btn-primary col-5 float-left">Create Room</button>
<!--              <button (click)="testWs()" type="submit" class="btn btn-primary col-5 float-left">Test Socket</button>-->
            </div>

          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>
